body {
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
}

header {
  margin: 40px auto 0;
  width: 100%;
  max-width: 600px;

  h1 {
    margin: 0;
  }
}

$axisSize: 40px;

section {
  margin: auto;
  width: 100%;
  max-width: 800px;
}

.graph {
  position: relative;

  // Super magical for maintaining aspect ratio:
  // https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 70%;
  }

  canvas {
    width: calc(100% - #{2 * $axisSize});
    height: calc(100% - #{2 * $axisSize});
    position: absolute;
    top: $axisSize;
    right: $axisSize;
    bottom: $axisSize;
    left: $axisSize;
  }

  .x-labels, .y-labels {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    input {
      border-radius: 0.2em;
      padding: 0.25em;
      border: none;
      outline: 0;
      width: auto;
      font-size: 1em;

      &:hover, &:focus {
        background-color: lightblue;
      }

      &.min { text-align: left; }
      &.name { text-align: center; }
      &.max { text-align: right; }
    }

    .name {
      font-style: italic;
      &:hover, &:focus {
        background: none;
      }
    }
  }

  .x-labels {
    bottom: 0;
    left: $axisSize;
    width: calc(100% - #{2 * $axisSize});
    height: $axisSize;
  }

  .y-labels {
    left: 0;
    top: $axisSize;
    width: $axisSize;
    height: calc(100% - #{2 * $axisSize});
    flex-direction: column;

    input { transform: rotate(-90deg); }
    .min { transform: translateY(50%) rotate(-90deg) translate(50%); }
    .max { transform: translateY(-50%) rotate(-90deg) translate(-50%); }
  }
}

#editor {
  margin: 20px auto 40px;
  max-width: 800px - 2 * $axisSize;
  height: 220px;
  border: 1px solid #eee;
}

#about {
  text-align: left;
}
